:root {
    --cor-principal: #3498db;
    --cor-secundaria: #cc2e8f; 
    --cor-texto-principal: #2c3e50;
    --cor-texto-secundario: #34495e;
    --sombra-leve: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transicao-rapida: 0.3s ease;
}

body {
        font-family: 'Open Sans', Arial, sans-serif; 
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 
}

h1 {
    color: var(--cor-texto-secundario);
    margin-bottom: 30px;
    font-size: 2.5em; 
}

button {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 8px; 
    cursor: pointer;
    margin-top: 25px;
    box-shadow: var(--sombra-leve);
    transition: background-color var(--transicao-rapida), box-shadow var(--transicao-rapida), transform var(--transicao-rapida); 
    outline: none; 
}

button:hover {
    background-color: #27ae60; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    transform: translateY(-2px); 
}

button:active {
    background-color: #701e84; 
    transform: translateY(0); 
    box-shadow: none;
}

#mensagem {
    margin-top: 30px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--cor-principal);
    background-color: white; 
    box-shadow: var(--sombra-leve);
    max-width: 400px;
    width: 100%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    button {
        width: 100%;
        padding: 15px 0;
    }
}