body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #2c3e50;
}

button {
    padding: 10px 20px;
    font-family: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

#mesagem {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}