body {
  background: linear-gradient(135deg, #ff00c8, #ff8c00);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
  text-align: center;     
  width: 350px;
  animation: pop 0.4s ease-out;
  display: flex;           
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  min-height: 250px;     
}


@keyframes pop {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

input {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button {
  background: #00ffea;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 15px #00ffea;
}

button:hover {
  transform: scale(1.07);
  box-shadow: 0 0 20px #fff;
}

button:active {
  transform: scale(0.95);
}

.bemvindo {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 0 3px 10px rgba(0,0,0,0.4);
}
